* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.header {
  background-color: #45198b;
  height: 70px;
  padding: 20px;
  display: flex;
  align-items: center;
  /* position: fixed; */
  width: 100%;
  z-index: 20;
}

h1 {
  float: left;
  color: #e2b6cf;
  font-weight: bold;
}

h2 {
  color: #1a0077;
  padding-left: 30px;
  font-weight: 600;
}

span {
  flex: 1 1 auto;
}

.options {
  float: right;
}

.options a {
  padding: 10px;
}

.movies {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}

.movie {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #E8DCB9;
  box-shadow: black 1px 1px 10px;
  width: 20rem;
}

p {
  text-align: justify;
}

img {
  height: 380px;
  border-radius: 5px;
}

.director1 {
  background-color: #ccbafd ;
}

.director2 {
  background-color: #a4b4fd;
}

.footer {
  background-color: #1a0077;
  color: #FFFFFF;
}